
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 800ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}


.popopP {
  margin: 70px auto;
  padding: 20px;
  background:linear-gradient(45deg,
			yellow 25%, #1833ff 0, #1833ff 50%,
			yellow 0, yellow 75%, #1833ff 0);
			-webkit-background-size:30px 30px;
			background-size:30px 30px;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popopP h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popopP .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popopP .close:hover {
  color: red;
}
.popopP .infocontent {
  max-height: 80%;
  overflow: scroll;
}

@media screen and (max-width: 700px){

  .popopP .{
    width: 80%;
  }
}
